@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/viewpilot_background.png');
  background-size: cover;
  background-attachment: fixed;
  background-color: #030712;
}
